/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */
   html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
   body{line-height:1}
   article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
   nav ul{list-style:none}
   blockquote,q{quotes:none}
   blockquote:before,blockquote:after,q:before,q:after{content:none}
   a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
   mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
   del{text-decoration:line-through}
   abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
   table{border-collapse:collapse;border-spacing:0}
   hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
   input,select{vertical-align:middle}
   li{list-style:none}
    /* =============================================================================
      My CSS
      ========================================================================== */
   /* ---- base ---- */
   @font-face {
    font-family: Lato; 
    src: url(../assets/fonts/Lato-Regular.ttf); 
   }
   @font-face {
    font-family: Maven; 
    src: url(../assets/fonts/MavenPro-Regular.ttf); 
   }

html,body{ 
  margin: 0 auto;
  width:100%;
  height:100%;
  min-height: 600px;
  background:white;
  z-index: 1;    
}

#particles-js{
  width: 100%;
  height: 99%;
  background-color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

main{
  position: relative;
  bottom: 99%;
  margin: 0 auto;
  width: 1024px;
  height: 100%;
  background: white; 
}

.person{
  height: 30%;
  background: transparent;
  text-align: center;
  display: flex;
}
.person-information{
  margin: auto;
  width: 50%; 
}

.photo{
  margin: auto;
  margin-left: -15%;
  height: auto;
  width: 12%;  
}

.summary{
  height: 30%;
  text-align: center;
  background: transparent;
  }

.inner-summary{
  padding: 2%;
}

.my-skills{
  height: 40%;
  background:transparent;
  display:flex;
}

.first-line{
  position: relative;
  margin: 0 auto;
  width: 80%;
  border: none;
  border-top: 1px solid rgb(243, 220, 220);
}

.second-line{
  position: relative;
  margin: 0 auto;
  border: none;
  width: 80%;
  top: 99%;
  border-top: 1px solid rgb(243, 220, 220);  
}

a{
  ext-decoration: none;
  color:rgba(221, 61, 61, 0.61);
}
.my-skills div{
  width: 33%;
  padding: 2%;
}

.my-skills:nth-child(2){
  border-left: 1px solid rgb(243, 220, 220);
}

main{
  font-family: Maven;
}
b{
  font-family: Lato;
}
